[submodule "Fonts"]
	path = Fonts
	url = git@github.com:solor/Font-Package-for-FreeUI.Fluffy.git
[submodule "Interface/AddOns/xCT+"]
	path = Interface/AddOns/xCT+
	url = git@github.com:dandruff/xCT.git
[submodule "Interface/AddOns/OmniCC"]
	path = Interface/AddOns/OmniCC
	url = git@github.com:tullamods/OmniCC.git
[submodule "Interface/AddOns/OmniCC_Config"]
	path = Interface/AddOns/OmniCC_Config
	url = git@github.com:tullamods/OmniCC_Config.git
